<div class="container" style="width: 100%;padding: 1em">
		<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Carousel items -->
    <div class="carousel-inner carousel-zoom" style="margin-top: 2em">
        <div class="active item">
          <%= image_tag('volvic-pack.png', class: 'img-responsive', style: 'height: 30em') %>
          <div class="carousel-caption">
            <h2></h2>
            <p></p>
          </div>
        </div>
        <div class="item">
          <%= image_tag('products.png', class: 'img-responsive', style: 'height: 30em') %>
          <div class="carousel-caption">
            <h2></h2>
            <p></p>
          </div>
        </div>
        <div class="item">
        <%= image_tag('evian-tesco-pack1.5.png', class: 'img-responsive', style: 'height: 30em') %>
        <img class="img-responsive" >
          <div class="carousel-caption">
            <h2></h2>
            <p></p>
          </div>
        </div>
       </div>
    </div>
</div>